<div class="card animated fast fadeIn">
  <img class="card-img-top img-fluid" [src]="heroe.img" [alt]="heroe.nombre">
  <div class="card-body">
    <h5 class="card-title">{{ heroe.nombre }}</h5>
    <p class="card-text">{{ heroe.bio }}</p>
    <p class="card-text"><small class="text-muted">{{ heroe.aparicion}}</small></p>
    
    <button (click)="verHeroe()" type="button" class="btn btn-outline-success btn-block">
      Ver más...
    </button>
    <!-- <a [routerLink]="['/heroe', i]" class="btn btn-outline-success btn-block">Ver info...</a> -->
  </div>
</div>
